<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANALYTICS OF YOUR URL</title>
</head>
<body>

    <h2>No. of Users Visited from your short URL : <%=noOfVisits%> </h2>

    <p>Analytics : <ol>
                        <% analytics.forEach(his => { %>
                        <li> <%=his.timestamp %></li>
                        <% }) %>
                   </ol>
    </p>
    
</body>
</html> 