<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFORMATION</title>
</head>
<body>
    <h2>Your SHORT URL : <a href= <%=shortURL%>> <%=shortURL%> </a></h2>

    <p> You can get analytics for this url [i.e. how many visits happened throught this url from here ] : <a href=<%=getAnalytics%>><%=getAnalytics%></a> </p>

    <form method="get" action="/frontend/home">
        <button type="submit" >HOME</button>
    </form>
    
</body>
</html>