<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <style>

    </style>
</head>
<body>

    <h1>Server Side Rendering</h1>
    <!-- Exposing whole database -->
    <ol>
        <% urls.forEach(url => { %>
            <li><%= url.shortParam%> &nbsp;&nbsp;-&nbsp;&nbsp;  <%= url.redirectURL %> &nbsp;&nbsp;-&nbsp;&nbsp; <%= url.visitHistory.length%></li>   
        <%})%>    
    </ol>
</body>
</html>



